In [30]:
import numpy as np
import pandas as pd

In [31]:
movies= pd.read_csv('tmdb_5000_movies.csv')
credits= pd.read_csv('tmdb_5000_credits.csv')

In [32]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [33]:
movies.shape

(4803, 20)

In [34]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [35]:
credits.shape

(4803, 4)

In [36]:
movies = movies.merge(credits, on='title')

In [37]:
movies.shape

(4809, 23)

In [38]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [39]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [40]:
movies.dropna(inplace=True)

In [41]:
#These are the parameters we will be keeping in order to make the decision#
# budget                4809 non-null   int64  
# genres                4809 non-null   object 
# id                    4809 non-null   int64  
# keywords              4809 non-null   object 
# original_language     4809 non-null   object  
# overview              4806 non-null   object 
# popularity            4809 non-null   float64
# production_companies  4809 non-null   object  
# release_date          4808 non-null   object  
# runtime               4807 non-null   float64 
# title                 4809 non-null   object 
# cast                  4809 non-null   object 
# crew               4809 non-null   object

In [42]:
movies= movies[['budget','genres','id','keywords','original_language','overview','popularity','production_companies','release_date','runtime','title','cast','crew']]

In [44]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1494 entries, 0 to 4807
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                1494 non-null   int64
 1   genres                1494 non-null   object
 2   id                    1494 non-null   int64
 3   keywords              1494 non-null   object
 4   original_language     1494 non-null   object
 5   overview              1494 non-null   object
 6   popularity            1494 non-null   float64
 7   production_companies  1494 non-null   object
 8   release_date          1494 non-null   object
 9   runtime               1494 non-null   float64
 10  title                 1494 non-null   object
 11  cast                  1494 non-null   object
 12  crew                  1494 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 163.4+ KB

In [45]:
movies.dropna(inplace=True)